{% load static %}  
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'users/css/login.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700;800&family=Roboto:wght@100;300;700;900&display=swap"
      rel="stylesheet"
    />
    <title>Login</title>
    
  </head>
  <body>
    <div>

     <form method="post" action="" >
      {% csrf_token %} 

        <div class="input">
        <span>Your Email</span>
        <input type="email" name="email" />
      </div>
      <div class="input">
        <span>Your Password</span>
        <input type="password" class="form-control" name="password1" />
      </div> 
      <button type="submit" >login</button>
      <br>
      <a href="{% url 'registerUrl' %}">register</a>
        <br>
      <a href="{% url 'reset_passwordUrl' %}">reset_passwordUrl</a>
    </form> 
  </div>
  </body>
  
</html> 